<mat-toolbar class="custom-header">
  <div class="right">
    <div class="logo" [routerLink]="['']">
      <img src="../../../assets/home/header-logo.png" alt="header-logo" />
      <span class="custom-span">Bookstore</span>
    </div>
  </div>
</mat-toolbar>

<div class="outer">
  <div class="inner">
      <h1>Forgot your Password?</h1>
    <div class="top">
      <div class="header">
        <p>
          Enter your email address and we'll send you a link to reset your
          password.
        </p>
      </div>
      <div class="form">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter your email" />
        <button class="reset-btn"><span>Reset Password</span></button>
      </div>
    </div>
    <div class="create-account">
      <button class="create-account-btn">Create Account</button>
    </div>
  </div>
</div>
