<!-- <app-header></app-header> -->
<div class="container">
  <p>
    Home/<span>Book({{ bookId }})</span>
  </p>
  <div class="book-content">
    <div class="book-image-container">
      <div class="book-image-wrapper">
        <!-- <img [src]="'../../../assets/books/1.png'" alt="bookimg" class="book-image" /> -->
        <img
        [src]="
          book.image
            ? 'data:image/' + book.imageFormat + ';base64,' + book.image
            : '../../../assets/books/1.png'
        "
        alt="{{ book.title || 'Default Title' }}"
        class="book-image"
      />
      </div>

      <div class="action-buttons">
        <button
          class="btn btn-secondary"
          (click)="addToCart()"
          *ngIf="!isCartlisted; else addToCartTemplate"
        >
          Add to Cart
        </button>
        <ng-template #addToCartTemplate>
          <div class="quantity-control">
            <button mat-icon-button (click)="decreaseQuantity()">-</button>
            <span>{{ bookQuantity }}</span>
            <button mat-icon-button (click)="increaseQuantity()">+</button>
          </div>
        </ng-template>
        <button
          class="btn btn-secondary"
          (click)="addToWishlist()"
          *ngIf="!isWishlisted; else WishListTemplate"
        >
          Add to Wishlist
        </button>
        <ng-template #WishListTemplate>
          <button class="btn btn-secondary">Already added to Wishlist</button>
        </ng-template>
      </div>
    </div>
    <div class="details">
      <span class="title">{{ book.title }}</span>
      <span>by {{ book.author }}</span>
      <span>
        <b>{{ book.discountedPrice| currency:'INR' }}</b> &nbsp;<s>{{ book.price| currency:'INR' }}</s>
      </span>
      <hr />
      <span>Book Details</span>
      <p>{{ book.description }}</p>
      <div class="customer-feedback">
        <h5>Customer Feedback</h5>
        <div class="feedback-box">
          <span class="rating-label">Overall Rating</span>
          <div class="stars">☆☆☆☆☆</div>
          <textarea
            class="feedback-text"
            placeholder="Write your feedback here..."
          ></textarea>
          <button class="btn btn-submit">Submit</button>
        </div>
      </div>
      <div class="customer-reviews">
        <span class="review-name">Ankit</span>
        <div class="review-stars">★★★☆☆</div>
        <p class="review-text">Good Product. Enjoyed reading it.</p>
      </div>
      <div class="customer-reviews">
        <span class="review-name">Shwetha</span>
        <div class="review-stars">★★★☆☆</div>
        <p class="review-text">Good Product. Enjoyed reading it.</p>
      </div>
    </div>
  </div>
</div>
