.home {
  width: 80vw;
  // border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  margin-left: 10vw;
  flex-direction: column;
}
.home h1{
  padding: 1rem;
}
.home h1 span {
  font-size: 1rem;
  color: grey;
}

.home-content {
  // padding: 2rem 4rem;
  //   width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  //   padding: 2rem 4rem;
  // margin-right: 0.5rem;
  // margin-left: auto;
}
.card {
  height: 17rem;
  width: 15rem;
  border: 1px solid black;
  // padding: 1rem;
  // background-color: black;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}
.card .img {
  flex-grow: 1;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.card img {
  width: 6.563rem;
  height: 8.438rem;
}

.card .details {
  padding: 1rem;
}

.title {
  font-size: 12px;
  color: black;
  font-weight: 500;
  // margin: 2px 0;
}

.author {
  font-size: 10px;
  color: grey;
  // margin: 2px 0;
}

.price {
  font-size: 12px;
  color: black;
  font-weight: 500;
  // margin: 2px 0;
}
