<div class="outer">
  <div class="home">
    <h1>
      Books<span>({{ totalBooks }})</span>
    </h1>
    <div class="home-content">
      <div
        class="card"
        *ngFor="let book of displayedBooks"
        [routerLink]="['/book', book.bookID]"
      >
        <!-- [routerLink]="'/book'"> -->
        <div class="img">
          <!-- <img
            [src]="
              book.image ? book.image : '../../../assets/books/1.png'
            "
            alt="bookimg"
          /> -->
          <img
            [src]="
              book.image
                ? 'data:image/' + book.imageFormat + ';base64,' + book.image
                : '../../../assets/books/1.png'
            "
            alt="{{ book.title || 'Default Title' }}"
            class="book-image"
          />
        </div>
        <div class="details">
          <p class="title">{{ book.title }}</p>
          <p class="author">by {{ book.author }}</p>
          <p class="price">
            <b>{{ book.discountedPrice| currency:'INR' }}</b> &nbsp; <s>{{ book.price| currency:'INR' }}</s>
          </p>
        </div>
      </div>
    </div>
    <!-- <mat-paginator
  [length]="totalBooks"
  [pageSize]="pageSize"
  [pageSizeOptions]="[12, 24, 36]"
  (page)="onPageChange($event)">
</mat-paginator> -->
    <mat-paginator
      [length]="totalBooks"
      [pageSize]="pageSize"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
