<mat-toolbar class="custom-header">
  <div class="right">
    <div class="logo" [routerLink]="['']">
      <img src="../../../assets/home/header-logo.png" alt="header-logo" />
      <span class="custom-span">Bookstore</span>
    </div>
    <div class="search-container">
      <button mat-icon-button class="search-icon-button" aria-label="Search">
        <img
          src="../../../assets/home/search.png"
          alt="Search Icon"
          class="search-icon"
        />
      </button>
      <input matInput placeholder="Search" value="" class="search-input" />
    </div>
  </div>
  <div class="left">
    <div class="side-icons">
      <div class="icon-container">
        <button [matMenuTriggerFor]="menu" style="cursor: pointer;">
          <img src="../../../assets/home/profile.png" alt="profile" />
          <span>{{userName}}</span>
        </button>
      </div>
      <div class="icon-container">
        <img src="../../../assets/home/cart.png" alt="cart" />
        <span>Cart</span>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu" yPosition="below" class="custom-menu">
  <div class="menu-content">
    <p class="heading">Welcome</p>
    <p class="description">To access account and manage orders</p>
    <button mat-stroked-button class="login-btn" (click)="openLoginDialog()" *ngIf="!islogin">Login/SignUp</button>
    <button mat-stroked-button class="login-btn" (click)="onLogout()" *ngIf="islogin">Logout</button>
    <hr class="divider" />
    <button class="menu-item">
      <img src="../../../assets/header/orders.png" alt="Orders" class="icon" />
      Orders
    </button>
    <button class="menu-item">
      <img src="../../../assets/header/wishlist.png" alt="Wishlist" class="icon" />
      Wishlist
    </button>
  </div>
</mat-menu>

