<mat-toolbar class="custom-header">
  <div class="right">
    <div class="logo" [routerLink]="['']">
      <img src="../../../assets/home/header-logo.png" alt="header-logo" />
      <span class="custom-span">Bookstore</span>
    </div>
    <div class="search-container">
      <button mat-icon-button class="search-icon-button" aria-label="Search">
        <img
          src="../../../assets/home/search.png"
          alt="Search Icon"
          class="search-icon"
        />
      </button>
      <input matInput placeholder="Search" value="" class="search-input" />
    </div>
  </div>
  <div class="left">
    <div class="side-icons">
      <div class="icon-container">
        <button [matMenuTriggerFor]="menu" style="cursor: pointer">
          <img src="../../../assets/home/profile.png" alt="profile" />
          <span>{{ userName || 'Profile' }}</span>
        </button>
      </div>
      <div class="icon-container">
        <button style="cursor: pointer" [routerLink]="['cart']">
          <img src="../../../assets/home/cart.png" alt="cart" />
          <span>Cart</span>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu" yPosition="below" class="custom-menu">
  <div class="menu-content" *ngIf="!token; else loggedOut">
    <p class="heading">Welcome</p>
    <p class="description">To access account and manage orders</p>
    <button mat-stroked-button class="login-btn" (click)="openLoginDialog()">
      Login/SignUp
    </button>
    <hr class="divider" />
    <button class="menu-item" [routerLink]="['orders']">
      <img src="../../../assets/header/orders.png" alt="Orders" class="icon" />
      Orders
    </button>
    <button class="menu-item" [routerLink]="['wishlist']">
      <img
        src="../../../assets/header/wishlist.png"
        alt="Wishlist"
        class="icon"
      />
      Wishlist
    </button>
  </div>
  <ng-template #loggedOut>
    <div class="menu-content">
      <p class="heading">Hello {{ userName }},</p>

      <button class="menu-item" [routerLink]="['orders']">
        <img
          src="../../../assets/header/porfile.png"
          alt="Profile"
          class="icon"
        />
        Profile
      </button>
      <button class="menu-item" [routerLink]="['orders']">
        <img
          src="../../../assets/header/orders.png"
          alt="Orders"
          class="icon"
        />
        Orders
      </button>
      <button class="menu-item" [routerLink]="['wishlist']">
        <img
          src="../../../assets/header/wishlist.png"
          alt="Wishlist"
          class="icon"
        />
        Wishlist
      </button>
      <button mat-stroked-button class="login-btn" (click)="onLogout()">
        Logout
      </button>
    </div>
  </ng-template>
</mat-menu>
