<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:/Users/Mahammed Ghouse/OneDrive/Desktop/Bookstore/Server/Bookstore/logs/BookstoreProject-Internal-Logs.txt">

	<!-- Define the logDir variable -->
	<variable name="logDir" value="C:/Users/Mahammed Ghouse/OneDrive/Desktop/Bookstore/Server/Bookstore/logs" />

	<targets>
		<!-- File Target for all log messages with different log levels -->
		<target xsi:type="File" name="logFile" fileName="${logDir}/BookstoreProject-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Console Target (Optional)
		<target name="logConsole" xsi:type="Console" /> -->
	</targets>

	<rules>
		<!-- Log INFO and above (i.e., WARN, ERROR, FATAL) to both console and file -->
		<logger name="*" minlevel="Info" writeTo="logConsole, logFile" />

		<!-- Ignore DEBUG and TRACE logs -->
		<logger name="*" minlevel="Info" writeTo="none" />
	</rules>
</nlog>
