<div class="order-success">
    <img src="assets/ordersuccessful.png" alt="Order Placed Successfully" />
    <p class="order-text">
      Hurray!!! Your order is confirmed <br />
      Order ID is #123456. Save the order ID for <br />
      further communication.
    </p>
    <table>
      <thead>
        <tr>
          <th>Email us</th>
          <th>Contact us</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ghouseakr@gamil.com</td>
          <td>+91 7989621872</td>
          <td>42, 14th Main, 15th Cross, Sector 4 ,<br />
            opp to BDA complex, <br />
            near Kumarakom restaurant, <br />
            HSR Layout, Bangalore 560034</td>
        </tr>
      </tbody>
    </table>
    <button (click)="continueShopping()">Continue Shopping</button>
  </div>
  